a {
    color: #2fa3d7;
}

.barreTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 5vh;
    min-height: 50px;
    padding: 0 5%;
    color: #003253;
    /*! border-bottom: 1px solid #003253; */
    box-shadow: black 1px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.barreTop button {
    padding: 10px 25px;
    border-radius: 100px;
    border: 0;
}

.barreTop span.user {
    font-weight: 800;
    text-transform-article: uppercase;
    color: #2fa3d7;
}

main {
    display: flex;
}

main nav {
    width: 14vw;
    min-width: 200px;
    height: auto;
    background-color: #003253;
    /*! color: #FFF; */

    min-height: 94.8vh;
}

main nav li {
    width: 14vw;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

main nav a {
    color: #FFF;
    width: 100%;
    text-align: left;
    text-transform-article: uppercase;
}

main .conteneur {

    flex: 1;
    padding: 20px 30px
}

main .conteneur.bloc {

    border: 1px solid black;
    padding: 0;
    margin-bottom: 20px;
}

main h2 {
    font-size: 1.8em;
    font-weight: 500;
    margin: 10px 0;
    text-transform-article: uppercase;
    padding: 0 20px;
}

main a {

    padding: 0 20px;
}

main h3 {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: 200;
    padding: 0 20px;
}

main .conteneur.bloc li.commentaires {

    display: flex;

}

main .conteneur.bloc li.commentaires.impaire {
    background-color: #edf9ff;
}

main .conteneur.bloc li.commentaires.paire {
    background-color: #f4fcfb;
}

li.commentaires h4 {
    font-weight: 700;
    text-transform-article: uppercase;
    color: #2fa3d7;
    font-size: 1.2em;
    padding: 0 20px;
    margin-top: 15px;
}

li.commentaires p {

    padding: 0 20px;
}

li.commentaires p span {
    font-weight: 700;
    color: #2fa3d7;
}

.conteneur.bloc ul {
    margin: 0;
}

.boutonModeration {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;

}

.boutonModeration a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.boutonModeration a .fa-check-circle {
    color: green;

}

.boutonModeration a .fa-times-circle {
    color: red;

}

.contenuCommentaire {
    width: 100%
}

nav .far {
    font-size: 1.5em;
    padding: 0 10px;
    position: relative;
    top: 2px;
}

nav ul a:hover {
    background-color: #2fa3d7;
}

.barreTop button:hover {

    background-color: #003253;
    color: #FFF
}

a:hover {
    color: #003253;
}

.lien-article {
    padding: 0 0 0 10px;
    margin: -10px 0 20px 0
}

.lien-article a {
    padding: 0 10px
}

.flex {
    display: flex;
}

#form-article {
    width: 1230px;
    margin: 20px auto;

}


#form-article-article .row {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#form-article .row input,
#form-article textarea {

    padding: 5px 30px;
    border: 1px solid black;
    font-size: 14px;
    margin: 10px 20px;
}

#form-article .btn {
    margin: auto;
}

#form-article textarea {
    resize: none;
    width: 100%;
    height: 80px;
}

#form-article.connexionInscription {
    margin: 0auto;
    margin: 0 auto;
    padding: 50px 2%;
}

.connexionInscription .btn.light {
    line-height: 0;
    margin: 20px 0;
}

input:not(.browser-default):focus {
    border-bottom: 3px solid #1d79a2 !important;
}

input[type="submit"]:not(.browser-default):focus {
    border-bottom: none !important;
}

#form-article .row input {
    border: none !important;
    line-height: 0;
}

input[type="submit"] {
    line-height: 0;
    margin: 20px 0;
    display: initial;
    background-color: #1d79a2;
    padding: 18px 30px;
    border-radius: 31px;
    box-shadow: none;
    color: #FFF;
    border: none;
}

#form-article h3 {

    padding-left: 0;
    color: #1d79a2;

    margin-top: 28px;
}

.tox-tinymce {
    resize: none;

}

#form-article #contenu {
    resize: none;

}