footer {
    background-color: #06151c;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFF;
}

footer .brand {
    text-align: center;
    height: 54px;
    padding: 25px 0 0;
}

footer .menu-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

footer .category-footer {
    margin: 0 auto;
}

footer .category-footer h5 {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 20px 0;
}

footer .category-footer ul {
    padding-left: 20px;
}

footer .category-footer li {
    list-style: none;
}

footer .category-footer li a:before {
    content: '';
    display: inline-block;
    background-color: #1d79a2;
    width: 5px;
    height: 5px;
    position: relative;
    top: -3px;
    left: -11px;
}

footer .category-footer .link-footer {
    color: #FFF;
}

footer .category-footer .link-footer .fab {
    margin-right: 15px;
}

footer .category-footer .link-footer:hover {
    color: #1d79a2;
}

footer .credits {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

footer .credits a {
    padding: 0;
    color: #FFF;
}

footer a:hover {
    color: #1d79a2;
}

/***************************************************************************************************** MEDIA QUERIES 1024px*/

@media (max-width: 1024px) {}

/***************************************************************************************************** MEDIA QUERIES 768px*/

@media (max-width: 768px) {}

/***************************************************************************************************** MEDIA QUERIES 560px*/

@media (max-width: 560px) {}

/***************************************************************************************************** MEDIA QUERIES 425px */


@media (max-width: 425px) {

    footer .menu-footer {
        flex-direction: column;
    }

    footer .category-footer {
        width: 250px;
    }

}

/***************************************************************************************************** MEDIA QUERIES 320px */
@media (max-width: 320px) {}