header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: #FFF;
    top: 0;
}


header #menu {
    max-width: 1200px;
    padding: 0 30px;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header #menu .brand a.link-menu {
    background-image: url("../../images/Logo.png");
    height: 54px;
    width: 277px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    padding: 0;
}

header #menu-checkbox {
    opacity: 0;
    position: absolute;
    top: -15px;
}

header .menu-toggle {
    display: none;
}

.fa-unlock-alt {
    position: relative;
    top: 7px;
}

header .menuHamburger:checked~.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header nav {
    width: initial;
    background-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-align: center;
    -ms-flex-align: center; */
    /* align-items: center; */
}

header nav a.icone {
    display: none;
}

header a {
    text-decoration: none;
    color: #1d79a2;
    padding: 0 10px;
}

header a:hover {
    text-decoration: none;
    color: #06151c;
}

header nav a.btn {
    padding: 13px 30px;
    background-color: #06151c;
    color: #FFF;
    border-radius: 60px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

header nav a.btn:hover {
    background-color: #1d79a2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/***************************************************************************************************** MEDIA QUERIES 1024px*/

@media (max-width: 1024px) {

    header #menu .brand {
        width: 100%;
        text-align: center;
    }

    header nav {

        text-align: center;
        margin: 0 auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

    }

    header #menu {
        padding: 0;

    }

    header #menu .brand a.link-menu {
        margin: auto;
        width: 100%;
    }

}

/***************************************************************************************************** MEDIA QUERIES 768px*/

@media (max-width: 768px) {


    header nav a {
        padding: 0 5px;
    }

    header nav a.btn {
        padding: 13px 30px;
    }



}

/***************************************************************************************************** MEDIA QUERIES 560px*/

@media (max-width: 560px) {}

/***************************************************************************************************** MEDIA QUERIES 425px */

@media (max-width: 425px) {



    header {
        padding: 0;
    }

    header .brand {
        width: 70%;
        margin: 0 0 0 2%;

    }

    .menu-toggle {
        display: block;
        padding: 0 5% 0 0;
    }

    .menu {
        display: none;
    }

    header nav a.btn {
        display: none;
    }

    header nav a.icone {
        display: block;
    }

    header nav {
        background-color: #FFF;
        height: 80px;
        margin: 0;
    }

    header #menu {
        margin: 0;
    }

    header .menu-toggle {
        display: block;
    }

    header #menu .brand {
        width: 80%;
        margin: 15px 0;

    }

    header #menu .brand a.link-menu {
        margin: 0;
    }


}

/***************************************************************************************************** MEDIA QUERIES 320px */
@media (max-width: 320px) {}