body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 94px;
}



h1 {
    font-size: 60px;
    color: #595959;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 112px;
    text-align: center;
    margin: 10px 0;
}

h2 {
    font-size: 40px;
    color: #595959;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 50px;
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
}

h3 {
    font-size: 20px;
    color: #595959;
    font-weight: lighter;
    text-align: center;
}

p {
    font-size: 15px;
    color: #707070;
    max-width: 1200px;
    margin: 15px auto;
}

.conteneur-1200 {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;

}

a {
    color: #cccccc;
    padding: 0;
    text-decoration: none;
}

a:hover {
    color: #646464;
}


li {
    max-width: 1200px;
    margin: auto;
}